mat-toolbar {
  height: 48px;
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.copyright {
  text-align: center;
} 